<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>火车票查询助手</title>
    <style type="text/css">
        *{margin: 0 auto; padding: 0;}
        a:link, a:visited{text-decoration: none;}
        .head_wrapper{width: 1200px; background: #B6B6B6;}
        .h_w_img{width: 800px; height: 230px; position: relative; background: #fff;}
        /*.h_w_img a{width: 312px; margin: 0 auto; bottom: 10px; display: block;}*/
        .h_w_img a{width: 312px; bottom: 10px; position: absolute; margin-left: 243px;}
        .h_w_form{width: 800px;}
    </style>
</head>
<body>
<div class="head_wrapper">
    <div class="h_w_img">
        <a href="/">
            <img src="../static/img/rt_inquire.png" alt="回到首页" title="到首页" >
        </a>
    </div>
    <div class="h_w_form">
        明天继续!
    </div>
</div>
</body>
</html>